.Owner {
    color: #314F28;
    font-weight: bold;
}

.Date {
    font-size: small;
    color: #5D7736;
    margin-left: 5px;
}

.Line {
    background-color: #D2C487;
}

.Heart {
    color: #314F28;
    font-size: smaller;
}

.Heart:hover {
    color: #5D7736;
}

.HeartOutline {
    color: #314F28;
    font-size: smaller;
}

.LikeIcon {
    margin-right: 15px;
    font-size: smaller;
}