.NavBar {
    background-color: #EFE9CE;
    color: #314F28 !important;
}

.Heading {
    font-family: 'Annie Use Your Telescope', cursive;
    font-size: xx-large;
    color: #314F28 !important;
}

.NavLink {
    color: #314F28 !important;
}

.NavLink:hover {
    color: #5D7736 !important;
}