.Post {
    background-color: #EFE9CE;
    padding: 20px;
    border-radius: 10px;
    text-align: left;
    margin-bottom: 15px;
    border: none;
}

.BookmarkAnswer {
    color: #314F28;
    ;
}

.BookmarkAnswer:hover {
    color: #5D7736;
}