.Post {
    background-color: #EFE9CE;
    padding: 20px;
    border-radius: 10px;
    text-align: left;
    margin-bottom: 15px;
    border: none;
    line-height: 7px;
}

.Bookmark {
    color: #314F28;
    padding-left: 0 !important;
}

.Bookmark:hover {
    color: #5D7736;
}