.Post {
    background-color: #EFE9CE;
    padding: 20px;
    border-radius: 10px;
    text-align: left;
    border: none;
}

.Bookmark {
    color: #314F28;
    padding-left: 0 !important;
}

.Bookmark:hover {
    color: #5D7736;
}

.Line {
    background-color: #D2C487;
}