.ProfileImage {
    object-fit: cover;
    height: 130px;
    width: 130px;
    margin: 5px;
}

.CountText {
    font-size: 90%;
}

.Line {
    background-color: #D2C487;
}

.Button {
    background-color: #314F28;
    border-radius: 50%;
    border: none;
}

.Button:hover {
    background-color: #EFE9CE;
    border: #314F28 solid 2px;
}

.Icon {
    color: #EFE9CE;
    padding: 2px;
    font-size: 0.9rem;
}

.Icon:hover {
    color: #314F28;
}

@media screen and (max-width:991px) {
    .ProfileImage {
        width: 200px;
        height: 200px;
    }
}