.ProfileImage {
    object-fit: cover;
    height: 130px;
    width: 130px;
    margin: 5px;
}

.CountText {
    font-size: 90%;
}

.Line {
    background-color: #D2C487;
}

@media screen and (max-width:991px) {
    .ProfileImage {
        width: 200px;
        height: 200px;
    }
}