.App {
    font-family: 'Merriweather Sans', sans-serif;
    background-color: #D2C487;
    min-height: 100vh;
    color: #314F28;
}

.Main {
    padding-top: 80px;
}

* {
    box-sizing: border-box;
}

a {
    color: #314F28 !important;
    transition: color ease-in-out 0.3s;
}

a:hover {
    color: #5D7736 !important;
    transition: color ease-in-out 0.3s;
    text-decoration: none;
}

a:hover i {
    color: #5D7736;
    transition: color ease-in-out 0.3s;
}

i {
    color: #314F28;
    font-size: 1.6rem;
    padding: 7px;
    vertical-align: middle;
}

i:hover {
    cursor: pointer;
    transition: color ease-in-out 0.3s;
    color: #5D7736;
}

figure {
    text-align: center;
    display: inline-block;
}

.Content {
    background-color: #EFE9CE;
    padding: 10px;
    border-radius: 10px;
    margin-top: 20px;
}

.SignInUpImage {
    height: 100%;
    width: 100%;
    object-fit: cover;
}

.Image {
    max-height: 40vh;
    max-width: 100%;
    object-fit: contain;
}

.Input {
    background: white;
    box-sizing: border-box;
    border-radius: 80px;
    border: #D2C487;
    color: #314F28;
    text-align: center;
    padding: 10px;
}

.Textarea {
    background: white;
    box-sizing: border-box;
    border-radius: 20px;
    border: #D2C487;
    color: #314F28;
    text-align: center;
    padding: 10px;
}

/* scrollbar */
*::-webkit-scrollbar {
    width: 5px;
}

*::-webkit-scrollbar-track {
    background: #EFE9CE;
}

*::-webkit-scrollbar-thumb {
    background: #888;
}

*::-webkit-scrollbar-thumb:hover {
    background: #555;
}